* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
  --box-shadow-light: 0px 1px 3px rgba(0, 0, 0, 0.2),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.12);
  --box-shadow-hover: 0px 4px 6px rgba(0, 0, 0, 0.3),
    0px 2px 4px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.gallery {
  display: grid;
  max-width: 1128px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 16px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

.gallery_item {
  position: relative;
  box-shadow: var(--box-shadow-light);
  overflow: hidden;
  transition: box-shadow var(--animation-duration) var(--timing-function),
    transform var(--animation-duration) var(--timing-function);
}

.gallery_item:hover {
  box-shadow: var(--box-shadow-hover);
  transform: translateY(-4px);
}

.gallery_image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery_image:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.gallery_link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery_link:hover {
  cursor: zoom-in;
}